/TP1/testing/.gitattributes
/TP1/mascota/mascota/.gitignore
/TP1/testing/.gitignore
/TP1/mascota/mascota/src/main/resources/static/img/01.jpg
/TP1/mascota/mascota/src/main/resources/static/img/02.jpg
/TP1/mascota/mascota/src/main/resources/static/img/03.jpg
/TP1/mascota/mascota/src/main/resources/static/img/400.jpg
/Proyecto-Gym/Proyecto/target/surefire-reports/2025-09-15T11-21-32_660-jvmRun1.dump
/Proyecto-Gym/Proyecto/target/surefire-reports/2025-09-15T11-21-32_660-jvmRun1.dumpstream
/Proyecto-Gym/Proyecto/target/classes/static/scss/_bootstrap-overrides.scss
/TP1/mascota/mascota/src/main/resources/static/scss/_bootstrap-overrides.scss
/Proyecto-Gym/Proyecto/target/classes/static/scss/_global.scss
/TP1/mascota/mascota/src/main/resources/static/scss/_global.scss
/Proyecto-Gym/Proyecto/target/classes/static/scss/_masthead.scss
/TP1/mascota/mascota/src/main/resources/static/scss/_masthead.scss
/Proyecto-Gym/Proyecto/target/classes/static/scss/_mixins.scss
/TP1/mascota/mascota/src/main/resources/static/scss/_mixins.scss
/Proyecto-Gym/Proyecto/target/classes/static/scss/_navbar.scss
/TP1/mascota/mascota/src/main/resources/static/scss/_navbar.scss
/Proyecto-Gym/Proyecto/target/classes/static/scss/_variables.scss
/TP1/mascota/mascota/src/main/resources/static/scss/_variables.scss
/Proyecto-Gym/Proyecto/target/classes/application.properties
/TP1/mascota/mascota/src/main/resources/application.properties
/TP1/testing/src/main/resources/application.properties
/TP1/mascota/mascota/src/main/resources/static/img/avisoLogueo.png
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.bundle.js
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.bundle.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.bundle.js.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.bundle.js.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.bundle.min.js
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.bundle.min.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap.css
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap.css
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap.css.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap.css.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.js
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.js.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.js.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap.min.css
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap.min.css
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap.min.css.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap.min.css.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.min.js
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.min.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/js/bootstrap.min.js.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/js/bootstrap.min.js.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-grid.css
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-grid.css
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-grid.css.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-grid.css.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-grid.min.css
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-grid.min.css
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-grid.min.css.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-grid.min.css.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-reboot.css
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-reboot.css
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-reboot.css.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-reboot.css.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-reboot.min.css
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-reboot.min.css
/Proyecto-Gym/Proyecto/target/classes/static/vendor/bootstrap/css/bootstrap-reboot.min.css.map
/TP1/mascota/mascota/src/main/resources/static/vendor/bootstrap/css/bootstrap-reboot.min.css.map
/TP1/Videojuego/videojuegos/target/classes/com/colmena/videojuegos/entities/Categoria$CategoriaBuilder.class
/Proyecto-Gym/Proyecto/target/surefire-reports/com.sport.proyecto.ProyectoApplicationTests.txt
/Proyecto-Gym/Proyecto/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Proyecto-Gym/Proyecto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Departamento$DepartamentoBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Departamento.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/DepartamentoRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/DepartamentoServicio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Direccion$DireccionBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Direccion.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/DireccionRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/DireccionServicio.class
/TP1/mascota/mascota/src/main/resources/static/img/edicionMascota.png
/TP1/mascota/mascota/src/main/resources/static/img/editarPerfil.png
/TP1/ej4_diagram2.uxf
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Empleado$EmpleadoBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Empleado$EmpleadoBuilderImpl.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Empleado.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/EmpleadoRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Empresa$EmpresaBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Empresa.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/EmpresaRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/EmpresaServicio.class
/TP1/mascota/mascota/src/main/resources/templates/error.html
/TP1/mascota/mascota/src/main/java/com/mascota/business/logic/error/ErrorService.java
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/errores/ErrorServicio.class
/TP1/Videojuego/videojuegos/target/classes/com/colmena/videojuegos/entities/Estudio$EstudioBuilder.class
/TP1/mascota/mascota/src/main/resources/templates/exito.html
/TP1/mascota/mascota/src/main/java/com/mascota/controller/view/FalloController.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/domain/entity/Foto.java
/TP1/mascota/mascota/src/main/java/com/mascota/controller/view/FotoController.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/persistence/repository/FotoRepository.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/logic/service/FotoService.java
/Proyecto-Gym/Proyecto/target/classes/static/gulpfile.js
/TP1/mascota/mascota/src/main/resources/static/gulpfile.js
/Proyecto-Gym/Proyecto/target/classes/templates/index.html
/TP1/mascota/mascota/src/main/resources/templates/index.html
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/InicializadorDatos.class
/TP1/mascota/mascota/src/main/resources/templates/inicio.html
/TP1/mascota/mascota/src/main/resources/static/img/inicio.png
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/controladores/InicioControlador.class
/TP1/mascota/mascota/src/main/java/com/mascota/controller/view/InicioController.java
/Proyecto-Gym/Proyecto/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Proyecto-Gym/Proyecto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/Proyecto-Gym/Proyecto/target/classes/static/vendor/jquery/jquery.js
/TP1/mascota/mascota/src/main/resources/static/vendor/jquery/jquery.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/jquery/jquery.min.js
/TP1/mascota/mascota/src/main/resources/static/vendor/jquery/jquery.min.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/jquery/jquery.min.map
/TP1/mascota/mascota/src/main/resources/static/vendor/jquery/jquery.min.map
/Proyecto-Gym/Proyecto/target/classes/static/vendor/jquery/jquery.slim.js
/TP1/mascota/mascota/src/main/resources/static/vendor/jquery/jquery.slim.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/jquery/jquery.slim.min.js
/TP1/mascota/mascota/src/main/resources/static/vendor/jquery/jquery.slim.min.js
/Proyecto-Gym/Proyecto/target/classes/static/vendor/jquery/jquery.slim.min.map
/TP1/mascota/mascota/src/main/resources/static/vendor/jquery/jquery.slim.min.map
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Localidad$LocalidadBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Localidad.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/LocalidadRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/LocalidadServicio.class
/Proyecto-Gym/Proyecto/target/classes/templates/login.html
/TP1/mascota/mascota/src/main/resources/templates/login.html
/TP1/mascota/mascota/src/main/resources/static/img/m1.jpeg
/TP1/mascota/mascota/src/main/resources/static/img/m2.jpg
/TP1/mascota/mascota/src/main/resources/static/img/m3.jpeg
/TP1/mascota/mascota/src/main/resources/templates/mascota.html
/TP1/mascota/mascota/src/main/java/com/mascota/business/domain/entity/Mascota.java
/TP1/mascota.rar
/TP1/mascota/mascota/src/main/java/com/mascota/MascotaApplication.java
/TP1/mascota/mascota/src/test/java/com/mascota/MascotaApplicationTests.java
/TP1/mascota/mascota/src/main/java/com/mascota/controller/view/MascotaController.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/persistence/repository/MascotaRepository.java
/TP1/mascota/mascota/src/main/resources/templates/mascotas.html
/TP1/mascota/mascota/src/main/resources/templates/mascotasdebaja.html
/TP1/mascota/mascota/src/main/java/com/mascota/business/logic/service/MascotaService.java
/TP1/mascota/mascota/src/main/resources/static/img/mascotasUsuario.png
/TP1/tinder/src/test/java/edu/egg/tinder/entidades/MascotaTest.java
/TP1/mascota/mascota/.mvn/wrapper/maven-wrapper.properties
/TP1/testing/.mvn/wrapper/maven-wrapper.properties
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Mensaje$MensajeBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Mensaje.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/MensajeRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/MensajeServicio.class
/TP1/mascota/mascota/mvnw
/TP1/testing/mvnw
/TP1/mascota/mascota/mvnw.cmd
/TP1/testing/mvnw.cmd
/Proyecto-Gym/Proyecto/target/classes/static/css/one-page-wonder.css
/TP1/mascota/mascota/src/main/resources/static/css/one-page-wonder.css
/Proyecto-Gym/Proyecto/target/classes/static/css/one-page-wonder.min.css
/TP1/mascota/mascota/src/main/resources/static/css/one-page-wonder.min.css
/Proyecto-Gym/Proyecto/target/classes/static/scss/one-page-wonder.scss
/TP1/mascota/mascota/src/main/resources/static/scss/one-page-wonder.scss
/Proyecto-Gym/Proyecto/target/classes/static/package.json
/TP1/mascota/mascota/src/main/resources/static/package.json
/Proyecto-Gym/Proyecto/target/classes/static/package-lock.json
/TP1/mascota/mascota/src/main/resources/static/package-lock.json
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Pais$PaisBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Pais.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/controladores/PaisControlador.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/PaisRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/PaisServicio.class
/TP1/mascota/mascota/src/main/resources/templates/perfil.html
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Persona$PersonaBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Persona.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/controladores/PersonaControlador.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/PersonaRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/PersonaServicio.class
/Proyecto-Gym/Proyecto/target/maven-archiver/pom.properties
/TP1/mascota/mascota/pom.xml
/TP1/testing/pom.xml
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Provincia$ProvinciaBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Provincia.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/ProvinciaRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/ProvinciaServicio.class
/Proyecto-Gym/Proyecto/target/Proyecto-0.0.1-SNAPSHOT.jar
/Proyecto-Gym/Proyecto/target/Proyecto-0.0.1-SNAPSHOT.jar.original
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/ProyectoApplication.class
/Proyecto-Gym/Proyecto/target/test-classes/com/sport/proyecto/ProyectoApplicationTests.class
/TP1/testing/src/main/java/com/example/testing/entidades/Rectangulo.java
/TP1/testing/src/main/java/com/example/testing/servicios/RectanguloServicio.java
/Proyecto-Gym/Proyecto/target/classes/templates/registro.html
/TP1/mascota/mascota/src/main/resources/templates/registro.html
/TP1/mascota/mascota/src/main/resources/static/img/registroExitoso.png
/TP1/mascota/mascota/src/main/resources/static/img/registroMal.png
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/ServicioBase.class
/TP1/mascota/mascota/src/main/java/com/mascota/ServletInitializer.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/domain/enumeration/Sexo.java
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Socio$SocioBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Socio$SocioBuilderImpl.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Socio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/SocioRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/SocioServicio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Sucursal$SucursalBuilder.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/entidades/Sucursal.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/repositorios/SucursalRepositorio.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/servicios/SucursalServicio.class
/Proyecto-Gym/Proyecto/target/surefire-reports/TEST-com.sport.proyecto.ProyectoApplicationTests.xml
/TP1/testing/src/main/java/com/example/testing/TestingApplication.java
/TP1/testing/src/test/java/com/example/testing/TestingApplicationTests.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/domain/enumeration/Tipo.java
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/enums/tipoEmpleado.class
/Proyecto-Gym/Proyecto/target/classes/com/sport/proyecto/enums/tipoMensaje.class
/Proyecto-Gym/Trabajo_Integrador1_Diagrama_de_clases.uxf
/TP1/mascota/mascota/src/main/java/com/mascota/business/domain/entity/Usuario.java
/TP1/mascota/mascota/src/main/java/com/mascota/controller/view/UsuarioController.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/persistence/repository/UsuarioRepository.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/logic/service/UsuarioService.java
/TP1/Videojuego/videojuegos/target/test-classes/com/colmena/videojuegos/VideojuegosApplicationTests.class
/TP1/mascota/mascota/src/main/java/com/mascota/business/domain/entity/Voto.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/persistence/repository/VotoRepository.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/logic/service/VotoService.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/domain/entity/Zona.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/persistence/repository/ZonaRepository.java
/TP1/mascota/mascota/src/main/java/com/mascota/business/logic/service/ZonaService.java
*.properties
*.class