.containergrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90vw;
	width: 90vh;
	gap: 1rem;
}

.containergrid div {
	background-color: gray;
	border: 1px solid #000;
}

.elemento1{
	grid-column: 1/4;
}
.elemento2{
	grid-column: 1/3;
	grid-row: 2/4;
}
