.box1{
	width: 100vw;
	height: 100vh;
	background-color: orange;
	position: relative;
}

.box2{
	width: 200px;
	height: 200px;
	background-color: red;
	position: absolute;
	top: 40%;
	left: 10%;
}


@media screen and (max-width: 600px){
	.box1{
		background-color: red;
	}
	.box2{
		background-color: white;
		left: 50%;
		top: 20%;
	}
}