#Uno{
	color: red;
}
.Dos{
	color: blue;
}
/*
1px
1rem = 16px
vh = % alto de la pagina
vw = % ancho de la pagina
*/
.Parrafo{
	color: rgb(191, 56, 56);
	font-size: 2rem;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-align: center;
	text-decoration: underline;
	letter-spacing: 2rem;
	line-height: 10rem;
}
